body{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}
nav{
    background-color: #CF2B2B;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    left: 0;
}
h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #ffffff;
}
h2{
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}
main{
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;

}
section{
    margin-bottom: 24px;
}
h3{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #000000;
    margin-bottom: 12px;
}
h4{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}
h5{
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.seletor{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.seletor ::-webkit-scrollbar{
    display: none;
}
.produto{
    background-color: #ffffff;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    padding: 15px;
    padding-top: 20px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.produto img{
    width: 172px;
}
.fecharpedido{
    background-color: #ffffff;
    height: 92px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2%;
}
.botao{
    background-color: #CBCBCB;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao p{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 1.8%;
}